<mat-horizontal-stepper linear #stepper>
  <mat-step [stepControl]="VerifyUsernameFormComponent">
    <ng-template matStepLabel>Verify your username</ng-template>
    <app-verify-username-form></app-verify-username-form>
  </mat-step>
  <mat-step [stepControl]="VerifySecurityQuestionsComponent">
    <ng-template matStepLabel>Answer your security questions</ng-template>
    <app-verify-security-questions-form></app-verify-security-questions-form>
  </mat-step>
  <mat-step [stepControl]="ResetPasswordFormComponent">
    <ng-template matStepLabel>Enter your new password</ng-template>
    <app-reset-password-form></app-reset-password-form>
  </mat-step>
</mat-horizontal-stepper>
