<div fxFlex>
  <mat-card class='mat-elevation-z0'>
    <mat-card-title>Contact Us!</mat-card-title>

    <br>
    <hr>
    <br>

    <mat-card-subtitle>We would love to help!</mat-card-subtitle>

    <mat-card-content>
      Here at Bobs computer Repair Shop we are eager to assist <br>
      you! Please reach out to us with any questions you have!
    </mat-card-content>
  </mat-card>

  <div fxLayout='row wrap'>

    <div fxFlex>
      <mat-card class='mat-elevation-z0'>
        <mat-card-title class='align-center'>
          <mat-icon color='accent'>email</mat-icon>
        </mat-card-title>

        <br>

        <mat-card-content class='align-center'>
          <h1>Email Us!</h1>
          <p>
            bcrs@yahoo.com
          </p>
        </mat-card-content>
      </mat-card>
    </div>



    <div fxFlex>

      <mat-card class='mat-elevation-z0'>
        <mat-card-title class='align-center'>
          <mat-icon color='accent'>navigation</mat-icon>
        </mat-card-title>

        <br>

        <mat-card-content class='align-center'>
          <h1>Come Visit us at our Store!</h1>
            <p>
              446 North Avenue <br>
              Omaha, Ne 68137
            </p>
        </mat-card-content>
      </mat-card>
    </div>

    <div fxFlex>
      <mat-card class='mat-elevation-z0'>
        <mat-card-title class='align-center'>
          <mat-icon color='accent'>phone</mat-icon>
        </mat-card-title>

        <br>

        <mat-card-content class='align-center'>
          <h1>Call Us!</h1>
            <p>
            402-765-6547
            </p>
        </mat-card-content>
      </mat-card>
    </div>


  </div>

</div>
