<div fxFlex>
  <mat-card>
    <mat-card-title>
      About Us
    </mat-card-title>

    <mat-card-subtitle>
      Our History
    </mat-card-subtitle>

    <mat-card-content>
      <p class='indent'>
        Bob's Computer Repair Shop has come a long way since its humble origins. Bob's Computer Repair Shop was founded by Robert Tibbitt’s in 1998.
        In the beginning Bob's Computer Repair Shop was a company consisting of one man, a dream, and his parent’s garage. In 2001 Bob was able to move
        his shop from his parent’s garage in Waco, Texas out to Omaha, Nebraska.
      </p>

      <br>

      <p class='indent'>
        Bob was able to purchase a small shop in the Silicon Prairie that is Omaha. Over the years Bob's Computer Repair Shop has grown and is now able
        to provide a wider array of services to the people of Omaha. Although the company has grown it is still a tight knit family of employees who are
        dedicated to providing the highest quality of service to its customers at a reasonable price.
      </p>

      <br>

      <p class='indent'>
        Bob's Computer Repair Shop has been a part of the Omaha community for over 19 years now and we plan on continuing to be a part of that community,
        helping it grow, and providing our services to it. If you have any questions or comments please do not hesitate to contact us!
      </p>
    </mat-card-content>
  </mat-card>
</div>
