<div fxFlex>
  <mat-card>
    <mat-card-title>
      About Us
    </mat-card-title>

    <mat-card-subtitle>
      Our History
    </mat-card-subtitle>

    <mat-card-content>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec elementum efficitur mauris, id maximus justo efficitur ac. Cras eu sodales velit. Sed feugiat ullamcorper ex in convallis. Mauris tortor mauris, aliquam aliquet sagittis eu, mollis ornare erat. Fusce ut efficitur nunc, hendrerit mollis odio. Nulla feugiat convallis quam, sed blandit libero ullamcorper sed. Suspendisse fringilla in arcu sed accumsan. Proin dictum tincidunt erat, eu laoreet leo molestie auctor. Integer mattis sit amet diam in egestas. Etiam metus risus, pulvinar vel vestibulum eu, pretium id risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vitae tellus cursus, varius urna a, rutrum elit. Cras nec dictum quam. Sed sit amet lacinia felis.
      <br><br>
      In a volutpat ex. Nam velit urna, facilisis nec lectus a, sollicitudin mollis elit. Nulla sapien justo, tincidunt id velit in, vulputate feugiat mauris. Integer rutrum, nulla a luctus bibendum, ex odio semper nunc, at placerat massa justo vel eros. Mauris non tincidunt mauris. Ut scelerisque nulla sed ante lobortis, eu ornare elit interdum. Cras ornare commodo magna, sed malesuada enim porta a.
    </mat-card-content>
  </mat-card>
</div>
