<!--
 * Title: sign-in.component.html
 * Author: Professor Krasso
 * Date: 23 September 2020
 * Modified By: Diandra McKenzie
 * Description: Sign-in component html file
-->

<div fxLayout="column">
    <div fxFlex>
      <mat-card class="mat-elevation-z8 sign-in-container">

        <mat-card-title>
          Sign-in
        </mat-card-title>

        <br />

        <mat-card-content>

        <form class="form" [formGroup]="form" (ngSubmit)="form.reset();">
          <div>
            <span>Username:</span>
              <input matInput

                    placeholder="username"
                    class="input" />
          </div>


            <div><span>Password:</span>
              <input matInput

                    placeholder="password"
                    class="input" />
            </div>

          <div>
            <button class="submit" type="submit" mat-raised-button color="#B39DDB" [disabled]="!form.valid">Sign in</button>
          </div>

            <div><a href=" " color="#C4C4C4">Forgot Password</a></div>
<br />
<br />
            <div><a href=" " color="#80DEEA">Create an Account</a></div>
        </form>
      </mat-card-content>
      </mat-card>
    </div>
  </div>
