<!--
 * Title: sign-in.component.html
 * Author: Professor Krasso
 * Date: 23 September 2020
 * Modified By: Diandra McKenzie
 * Description: Sign-in component html file
-->

<div fxLayout="column">
    <div fxFlex>
      <mat-card class="mat-elevation-z8 sign-in-container">

        <mat-card-title>
          Sign-in
        </mat-card-title>

        <br />

        <mat-card-content>

        <form class="form" [formGroup]="form" (ngSubmit)="form.reset();">
          <div>
            <label for="User name" class="label">Username:</label>
              <input matInput

                    placeholder="Enter Username"
                    class="input" />
          </div>


            <div><label for="password" class="label">Password:</label>
              <input matInput

                    placeholder="password"
                    class="input" />
            </div>

          <div>
            <button class="submit" type="submit" mat-raised-button [disabled]="!form.valid">Sign in</button>
          </div>

            <div class="password"><a href=" ">Forgot Password</a></div>
<br />
<br />
            <div class="account"><a href=" ">Create an Account</a></div>
        </form>
      </mat-card-content>
      </mat-card>
    </div>
  </div>
