h1 {
  margin-top: 25%;
  font-size: 720px;
  color:#b39ddb;
}

img {
  margin-top: 10%;
  height: 720px;
  margin-left: 5%;
}

.error-explanation {
  margin: 15% 15%;
  padding: 15px;
  background-color: #80ddea;
}
