<div fxLayout="column">

  <!-- navigation -->
  <nav fxFlex>
    <mat-toolbar color='primary'>
      <!-- navbar container -->
      <div class="navbar-container">
        <!-- logo -->
        <button class="logo" routerLink="/" mat-button><img src="../../../assets/bcrs-logo.png"></button>
        <button class="navbar-link" routerLink="/" mat-button><mat-icon>home</mat-icon> Home</button>
        <button class="navbar-link" routerLink='/about' mat-button><mat-icon>face</mat-icon> About</button>
        <button class="navbar-link" routerLink='/contact' mat-button><mat-icon>contact_page</mat-icon> Contact</button>
        <button *ngIf="sessionRole === 'admin'" class="navbar-link" routerLink="/purchase-graph"mat-button><mat-icon>pie_chart</mat-icon> Purchases Graph</button>
        <button *ngIf="sessionRole === 'admin'" class="navbar-link" mat-button [matMenuTriggerFor]='settings'><mat-icon>room_preferences</mat-icon> Configuration</button>
        <mat-menu #settings='matMenu'>
          <button class="navbar-link" routerLink="/users" mat-menu-item><mat-icon>admin_panel_settings</mat-icon> User Configuration</button>
          <button class="navbar-link" routerLink="/security-questions" mat-menu-item><mat-icon>security</mat-icon> Security Questions Configuration</button>
          <button class="navbar-link" routerLink="/roles" mat-menu-item><mat-icon>settings</mat-icon> Role Configuration</button>
        </mat-menu>
        <button class="navbar-link" mat-button (click)="signOut()"><mat-icon>close</mat-icon> Sign Out</button>
      </div>

    </mat-toolbar>
  </nav>

  <!-- main content -->
  <div fxFlex>
    <main class="main-content" fxFlex="100%;">
      <router-outlet></router-outlet>
    </main>
  </div>

  <!-- footer -->
  <div fxFlex>
    <footer class="footer">
      <mat-toolbar class="footer-content">
        <p>
          &copy; {{year | date: 'yyyy'}} - Bob's Computer Repair Shop - <a href="https://www.bellevue.edu/" class="bu-link" target="_blank">Bellevue University</a>
        </p>
      </mat-toolbar>
    </footer>
  </div>
</div>
